@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x:hidden ;
}
.active{
    color: rgb(149, 15, 182);
    font-weight: bold;
    
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .nav-link {
    transition: all 0.5s ease-in-out;
  }
  
  .nav-link.active {
    animation: fadeIn 0.5s ease-in-out;
  
  }

